.hidden {
	display: none;
}

#movie-grid {
	display: grid;
}

/* Default: One item per row (up to 300px) */
#movie-grid {
	grid-template-columns: 1fr;
	gap: 16px;
}

/* Two items per row (from 300px to 699px) */
@media (min-width: 300px) {
	#movie-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Three items per row (from 700px and above) */
@media (min-width: 700px) {
	#movie-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

.card {
	cursor: pointer;
	border: 1px solid var(--border);
	padding: 8px;
	border-radius: 4px;
}

img {
	border-radius: 8px;
}