<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{{ title }} - FlixFinds {% endblock %}</title>
	<link rel="stylesheet" href="/assets/css/water.css">
	<link rel="stylesheet" href="/assets/css/custom.css">
	{% block head %}{% endblock %}
</head>

<body>
	<header>
		<section>
			<nav>
				<ul>
					<li><a href="/movies">Movies</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
			<h1>FlixFinds</h1>
		</section>
	</header>
	<hr>
	<main>
		{% block content %}<p>Placeholder content</p>{% endblock %}
	</main>
</body>

</html>
