{% extends "base.html" %}
{% block title %} Lesser-Known Movies {% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<h2>{{primary_title}}</h2>
<p> Released in {{start_year}} this
	{% if num_votes > 40000 -%} slightly famous
	{% else if num_votes < 15000 -%} unknown {% else -%} underground hit {% endif -%} movie is a great watch. It is a {%
		if genres.len()> 2 -%} movie that combines the genres {{genres|join(", ")|lower }} and much more.
		{% else if genres.len() == 1 -%} {{genres[0]|lower}} movie.
		{% else -%} movie unlike most others, a unique, rare pearl. {% endif -%}
</p>
<ul>
	<li>
{% if num_votes > 10000 -%} Votes: {{num_votes/1000}}k votes 
{% else -%} Votes: {{num_votes}} votes {% endif -%}
	</li>
	<li> {{ "{} h {} min"|format(runtime_minutes/60, runtime_minutes%60)}} </li>
	<li>
		IMDB Rating: {{ "{}.{}"|format(average_rating/10, average_rating%10)}} / 10
	</li>
	<li>
		Languages: {{languages}}
	</li>
</ul>
{% if let Some(poster_url) = poster_url %}
<img src="{{poster_url}}" alt="{{primary_title}} poster">
{% endif %}
<p> <a href="https://www.imdb.com/title/{{tconst}}">Other Info</a> </p>

{% endblock %}
