{% extends "base.html" %}
{% block title %} Lesser-Known Movies {% endblock %}
{% block head %}
<style>
	.movie-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, 300px);
		grid-gap: 8px;
		grid-auto-rows: 1fr;
	}

	.card {
		cursor: pointer;
		border: 1px solid var(--border);
		padding: 8px;
	}

	img {
		border-radius: 16px;
	}
</style>
{% endblock %}

{% block content %}
<div class="movie-grid">
	{% for movie in movies %}
	<div onclick="window.location.href = '/movies/{{movie.tconst}}'" class="card">
		<h4>{{ movie.primary_title }} ({{ movie.start_year }})</h4>
		<hr>
		<ul>
			<li> {{ movie.runtime_minutes }} minutes </li>
			<li>
				{{ movie.average_rating }} / 100 rating
			</li>
			<li>
				{{ movie.num_votes }} votes
			</li>
		</ul>
		{% if let Some(poster_url) = movie.poster_url %}
		<img src=" {{ poster_url }}" alt="{{ movie.primary_title }} poster">
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endblock %}